.background {
    width: 100%;
    height: 800px;
    background-color: bisque;
    background: url(../images/background/Hand_holding.jpg) no-repeat ;
    background-size: auto 60vh;
    background-position: right;
}

.container {
    
    width: 80%;    
    margin: auto;
    display: flex;
    height: inherit;
    justify-content: space-around;
    align-items: center;

}

.contentBox {
    width: 40%;
    margin: 10px;
    height: inherit;
    display: flex;
    align-items: center;
}
.imgBox {
    width: 100%;
    height: 100%;

}

.fontSize3 {
font-weight: bold;
    font-size: 2rem;
    line-height: 3rem;
    color: #303060;
}
