.main1st_bgBox {
    width: 1100px;
    height: 200px;
    position: relative;
    margin: auto;
}

.main2nd_bgBox {
    width: 1280px;
    height: 500px;

    margin: 150px auto;
}

.main3rd_bgBox {
    position: relative;
    width: 1280px;
    height: auto;
    margin: auto;
}

.main4th_bgBox {
    width: 1280px;
    height: 100px;
    margin: auto;
}

.main1st_bgBox h2 {
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 40px;
}

.main1st_bgBox input {
    width: 1100px;
    height: 60px;
    font-size: 30px;
    border: none;
    border-bottom: 6px solid black;
}



/* icon */

.search_iconBox {
    position: relative;
    top: -80px;
    right: -970px;

}

.spc_bubble_icon {
    position: relative;
    top: -40px;
}


.top10_bgBox {
    width: 1140px;
    height: 400px;
    margin: auto;
}

.main2nd_bgBox h3 {
    text-align: center;
    font-size: 30px;
    margin: 70px auto 40px;

}

.top10_bgBox p {
    margin-top: 35px;
    font-size: 26px;
    font-weight: bold;

}

.top10_bgBox td {
    cursor: pointer;
    width: 228px;
    height: 200px;
    border: 1px solid #b4b4b4;
    background-color: white;
    font-size: 18px;
    vertical-align: text-top;
    text-align: center;
}

.container_01 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_01 li {
    font-weight: bold;
    cursor: pointer;
}

.container_02 {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
}

.container_03 {
    position: relative;
    top: -50px;
    display: flex;
    width: 400px;
    justify-content: space-evenly;
    align-items: center;
}

.container_04 {
    position: relative;
    top: -75px;
    right: -750px;
    display: flex;
    width: 355px;
    font-size: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.stick::after {
    content: "ã…£";
}

#sky_color {
    color: #50a3d9;
}

.main3rd_bgBox li {
    width: 143px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
    text-align: center;
}

.main3rd_bgBox li a {
    display: block;
    width: 143px;
    height: 60px;
}

.qnaBoard_bgBox {
    position: relative;
    width: 1000px;
    height: auto;
    margin: auto;
}

.qnaBoard_bgBox th {
    font-size: 25px;
    padding-right: 50px;
    font-weight: bold;
    color: #50a3d9;
}

.qnaBoard_bgBox td {
    width: 1000px;
    height: 70px;
    font-size: 20px;
    border-bottom: 1px solid #b4b4b4;
}

.qnaBoard_bgBox td>span {
    float: right;
}

.main4th_bgBox li {
    width: 25px;
    height: 25px;
    margin: 1px;
    line-height: 25px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

/* hide for slideshow */

.hide_tr p {
    width: 830px;
    height: auto;
    margin: 40px 0px;
    font-size: 16px;
    line-height: 28px;

}


.qnaBoard_bgBox>div {
    display: none;
}

.hide_tr {

    display: none;
}

tr span {
    cursor: pointer;
    display: block;
    text-indent: -9999px;
    width: 60px;
    height: 30px;
    background: url("../images/userservice/down_arrow_28x16.png") no-repeat center;
}



table a:link,
table a:visited,
table a:hover {
    color: blue;
}