.App {
/*     background: url("../images/background/444.svg") center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: linear-gradient(90deg, rgb(136, 0, 160, 0.1) 0%, rgba(73, 63, 252, 0.1) 80%);
    
 */
}