.wrap {
    min-width: 1280px;
}
body {
    height: auto;
    /* font-family: "Century Gothic", "맑은 고딕", Arial, Helvetica, sans-serif; */
    /* font-family: "IBM Plex Sans KR regular", "IBM Plex Mono", Arial, Helvetica; */
}

/* reset */
body,
ol,
ul,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
label,
form,
fieldset,
legend,
button {
    padding: 0;
    margin: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;

}/* 스크롤바 고정 */

body { 
    overflow-y:scroll; 
}

/* input 검색 시 outline 테두리 없애기 */
input:focus {
    outline: none;
}

/*
a:link    방문하지 않은 링크의 글자색을 정의합니다.
a:visited    사용자가 방문한 적이 있는 링크의 글자색을 정의합니다. 
a:hover      마우스를 링크에 올려두었을 때, 글자색을 정의합니다.
a:active     마우스로 링크를 클릭하고 뗄 때까지의 글자색을 정의합니다.
 */

a,
a:link,
a:visited,
a:hover {
    text-decoration: none;
    color: black;
}

.hidden {
    display: none;
}

fieldset {
    border: none;
}

li {
    list-style: none;
}